.image__inner {
    display: flex;
    justify-content: space-between;
}
.image {
    width: 49%;
    height: 370px;
    color: #fff;
    padding: 200px 30px 30px 30px;
    box-sizing: border-box;
    border-radius: 5px;
}
.image.img1 {
    background: url(../img/bg01_01.jpg) no-repeat center;
    background-size: cover;
}
.image.img2 {
    background: url(../img/bg01_02.jpg) no-repeat center;
    background-size: cover;
}
.image__title {
    font-size: 32px;
    margin-bottom: 10px;
}
.image__desc {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.image__btn {
    font-size: 16px;
    color: #fff;
    background-color: #B45A30;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
}
.image__btn:hover .img1{
    scale: 1.2;
    transition: 0.25s;
}
.image__btn.yellow {
    background-color: #B59140;
}

@media (max-width: 1215px){
    .container{
        width: 100%;
    }
    .image{
        width: 100%;
    }
    .image:nth-child(1){
        margin-bottom: 20px;
    }
    .image__inner{
        flex-wrap: wrap;
        padding: 10px;
    }
    .image__title{
        font-size: 24px;
    }
}

@media (max-width: 1220px){
    .slider__inner{
        margin-top: 0 !important;
    }
}

@media (max-width: 750px){
    .section>h2{
        font-size: 30px;
    }
    .section>p{
        font-size: 16px;
    }
}